<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22163258122-vgdv95q320t6s5km8tn6b3v3hconss3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22163258122-vgdv95q320t6s5km8tn6b3v3hconss3u</string>
	<key>API_KEY</key>
	<string>AIzaSyB278BNG-KPoo2AlrwptRNaWLV8Ve9TXA0</string>
	<key>GCM_SENDER_ID</key>
	<string>22163258122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.k-anisimov.VKClient</string>
	<key>PROJECT_ID</key>
	<string>vkclientfb</string>
	<key>STORAGE_BUCKET</key>
	<string>vkclientfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22163258122:ios:c24a16439426aac363d8f3</string>
	<key>DATABASE_URL</key>
	<string>https://vkclientfb.firebaseio.com</string>
</dict>
</plist>